# Dependabot will run on day 17 of each month at 03:34 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "34 3 17 * *"
    open-pull-requests-limit: 15
    assignees:
      - "TA2k"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "34 3 17 * *"
    open-pull-requests-limit: 15
    assignees:
      - "TA2k"
